
    <div class=" container  ">
        <nav class="navbar navbar-expand-lg ">
            <div class="container">
                <a class="navbar-brand" href="#">Accueil</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                     
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Menu
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" routerLink="/menu/plat-entre">Entrées</a></li>
                                <li><a class="dropdown-item"  routerLink="/menu/plat-resistance">Plat de résistance</a></li>
                              
                                <li><a class="dropdown-item" routerLink="/menu/plat_desert">Desserts</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Boissons
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Vin</a></li>
                                <li><a class="dropdown-item" href="#">Champagne</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Coktail</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/menu/commande">Commande </a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <span>
                            logo
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>
