.card{
    max-width: 100%;
   img{
    height: 20vh;
   }
}
.description{
    font-weight: 200;
    
}
.price{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 7%;
    color: #b9872a;
}
.title{
    font-size: 29px;
    font-weight: 300;
}