<div class="card p-2 my-3">
    <mat-card class="example-card">
      <div class="image">
        <img mat-card-image [src]="food?.image" />

      </div>
        <mat-card-content>
            <mat-card-title class="title">Shiba Inu</mat-card-title>
            <div class="price">
              <span > {{ food?.price}} fcfa</span> 
            </div>
            
         
          <p class="description">
           {{ food?.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="text-end">
            <button mat-raised-button (click)="sendOneCommande()" >Commander</button>

          </div>
          
        </mat-card-actions>
      </mat-card>
</div>

  
