.accueil {
    height: 100%;
    overflow-x: hidden;
   // border: solid;

     .hearder {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //    // border: solid;
   // background: rgb(172, 111, 62);
   .nav-bar{
    background: #d37d21b5;

   }
   
    }
    .corps{
        //border: solid;
    
    }

    .footer {
     
        bottom: 0;
        left: 0;
        right: 0;
        //border: solid;
    }
}