
<div class="accueil ">
    <div class="hearder">
        <div class="">
            <app-hearders></app-hearders>
        </div>
        <div class="nav-bar">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
    

    <div class=" container-fluid corps">
       
       
        <router-outlet></router-outlet>
    </div>

    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>