<div class="container">
    <div class="col-md-12 pt-4  text-center">
        <p style=" font-size: 44px">Commande</p>
    </div>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-3">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let element">
                <div class="row">
                    <div class="col-md-2 p-2">
                        <img [src]="element.image" alt="">
                    </div>
                    <div class="col-md-10">
                        <div>
                            <p>Shiba Inu</p>
                        </div>
                        <p>{{element.description}}</p>
                    </div>
                </div>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Prix </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Quantité </th>
            <td mat-cell *matCellDef="let element"> 1 </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> suprimer </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div>
        <div class="d-flex justify-content-end">
         
            <div class="col-md-3 mt-3" style="font-size: 24px;">
                <p>Quantité : <span>6</span></p>
                
                <p>Totale: <span>50 000fcfa</span></p>
              
               
                   
            </div>
           
            <!-- <div class="col-md-6">
                <p>Totale</p>
                    <p>50 000fcfa</p>
            </div> -->
            
        </div>
    </div>



</div>