<div class="container">

    <div class="row">

        <div class=" col-md-12 pt-4 text-center">
            <p> Desserts</p>
        </div>
    
        <div class="col-md-3" *ngFor="let data of dessert">
            <ng-container >
                <app-card [food]="data" ></app-card>
            </ng-container>
           
        </div>
    </div>
</div>

