<div class="container">
    <div class="row">
        <div class=" col-md-12 pt-4 text-center">
            <p> Plats de resistance</p>
        </div>
        <div class="col-md-3" *ngFor="let data of plat">
            <ng-container >
                <app-card [food]="data" ></app-card>
            </ng-container>
           
        </div>
    </div>
</div>


